.main {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100vh;
    z-index: 1;
    background-color: darkgray;
}

.Title {
    font-size: xx-large;
    color: black;
    text-align: center;
    border-bottom: solid black 4px;
    margin: 3px;

}

.Link {
    color: white;
    font-size: x-large;

}

.linkDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}
